

<div class="booking-table-container">
    <div class="booking-table-title">Bookings Overview</div>
    <table class="booking-table">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Email</th>
                <th>Listing</th>
                <th>Room</th>
                <th>Bed</th>
                <th>From</th>
                <th>To</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let booking of bookings"> -->
                <tr *ngFor="let booking of paginatedReviews">
                <td>{{ booking.guestName }}</td>
                <td>{{ booking.guestEmail }}</td>
                <td>{{ booking.listingTitle }}</td>
                <td>{{ booking.roomName }}</td>
                <td>{{ booking.bedLabel }}</td>
                <td>{{ booking.fromDate | date:'yyyy-MM-dd' }}</td>
                <td>{{ booking.toDate | date:'yyyy-MM-dd' }}</td>
                <td>
                    <span style="font-weight:700; color:#1976d2;">
                        ${{ booking.price }}
                    </span>
                </td>
                <td>
                    <span [ngClass]="{
                        'status-paid': booking.paymentStatus === 'Paid',
                        'status-pending': booking.paymentStatus === 'Pending',
                        'status-cancelled': booking.paymentStatus === 'Cancelled'
                    }">
                        {{ booking.paymentStatus }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Pagination Controls -->
<div class="pagination" *ngIf="bookings.length > 0">
  <button 
    class="pagination-btn" 
    (click)="changePage(currentPage - 1)" 
    [disabled]="currentPage === 1">
    ← 
  </button>

  <span class="page-numbers">
    <button 
      *ngFor="let page of getPageNumbers()" 
      class="page-btn" 
      [class.active]="page === currentPage" 
      (click)="changePage(page)">
      {{ page }}
    </button>
  </span>

  <button 
    class="pagination-btn" 
    (click)="changePage(currentPage + 1)" 
    [disabled]="currentPage === totalPages">
     →
  </button>
</div>