<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Forgot Password</h2>
  
    <label>Email</label>
    <input
      formControlName="email"
      type="email"
      placeholder="Enter your email"
    />
  
    <button type="submit" [disabled]="form.invalid || isLoading">
        <ng-container *ngIf="!isLoading; else loadingTpl">Send Reset Link</ng-container>
        <ng-template #loadingTpl>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Sending...
        </ng-template>
      </button>
      
  </form>
  