<div class="login-container">
  <form
    class="login-form"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
    novalidate
  >
    <h2>Welcome Back</h2>

    <div *ngIf="apiError" class="alert alert-danger">{{ apiError }}</div>

    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        id="email"
        name="Email"
        type="email"
        [(ngModel)]="model.email"
        required
        placeholder="Enter your email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        name="Password"
        type="password"
        [(ngModel)]="model.password"
        required
        placeholder="Enter your password"
      />
    </div>
    <button type="submit" [disabled]="loginForm.invalid || isLoading">
      <ng-container *ngIf="!isLoading; else loadingTpl">Login</ng-container>
      <ng-template #loadingTpl>
        <span
          class="spinner-border spinner-border-sm me-2"
          role="status"
          aria-hidden="true"
        ></span>
        Logging in...
      </ng-template>
    </button>

    <!-- <button type="button" class="google enhanced" (click)="externalLogin()">
      Continue with Google
    </button> -->
    <div id="googleSignInDiv" style="margin-top: 16px"></div>

    <div style="text-align: right; margin-bottom: 10px">
      <a routerLink="/forget-password" style="font-size: 14px"
        >Forgot Password?</a
      >
    </div>

    <div class="register-link">
      Don't have an account? <a routerLink="/register">Create one here</a>
    </div>
  </form>
</div>
